.detailsParent {
    background-color: #23303E;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pickupServiceImg {
    width: 100%;
}

.MuiGrid-root{
    padding: 24px;
}

.MuiGrid-item{
    padding: 96px;
}